.no-uid-me {
  flex-direction: row;
  color: #AA8546;
}
.form-container-me {
  width: auto;
  color: #AA8546;
  padding-left: 50px;
}

.error-text-me {
  color: #700000;
  font-size: x-large;
  margin-right: 20px;
}

.submit-button-me {
  width: 90%;
  background-color: #CDAD6A;
  border-color: #CDAD6A;
  color: #6C4B1D;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
