.header-container {
  align-items: center;
  align-content: center;
  align-self: flex-start;
  justify-content: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.center-title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

